# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\intellij\IntelliJ IDEA 2020.2.4\passthemonwatch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
